blog-header h1{font-size: 4em;}
.left-section{border:1px solid #c3c3c3;}
.left-section h3{font-size: 18px;font-weight: bold;}
.left-section a{border-bottom: 1px solid #c3c3c3;color: #000;width: 100%;padding-bottom: 5px;margin-bottom: 10px;}
.left-section ul{margin:10px 0;padding: 0;list-style: none;font-size: 13px;}
.left-section ul li{margin-top: 5px;}
.left-section ul li input[type=checkbox]{float: right;}
.left-section img{margin-right: 8px;}
.seprator{border-top:1px solid #c3c3c3;padding-top: 10px;width:100%;}
.vacancy-section h3{font-size: 18px;}
.vacancy-section p{font-size: 14px;}
.vacancy-section button{background-color: #fff;border:1px solid #FFB100;min-width: 150px;border-radius: 20px;}
.vacancy-section button:hover{background-color:#fff;border: 1px solid #FFB100;color: #000;}
.border-none{border-bottom:0 !important;}
.career-carousel img{width: 60px !important;height: 60px !important;float: left; border-radius: 50%;margin-right: 10px;}
.career-carousel h3{font-size: 20px;margin-bottom: 5px;}
.career-header h2{font-size: 2em;}
.career-header h1{font-size: 2rem;}
.leadership{width: 60px;height: 60px;border-radius: 50%;}
.card{cursor: pointer;}
.vacancy-section .btn-primary{min-width: 110px;;}
.career-header{
    background-image: url(../images/career/career-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#f2f2f2;
    color: #000;
    text-align: center;
    padding: 6em 3em;
}
.desktop-right{
    text-align: right;
}
.owl-carousel .owl-item img{display: inline-block !important;width: auto;}       

.item-box-blog-body{
    background-size: contain;
    background-image: url(../images/career/BG.png);
    background-position: bottom;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: 1px 23px 36px -9px rgb(206, 206, 206);
    margin: 0px 20px;
    padding: 10px 0;
    border-radius: 20px;
}
.p-text{
    padding: 15px 30px 0px 30px;
    margin-top: 0rem;
    margin-bottom: -0.5rem;
    height: 10vh;
}
.bs-example{
    margin: 20px;
}
.accordion .fa{
    margin-right: 0.5rem;
}

.heading-color{
    color: #2996cc;
}

.item-footer{
    position: relative;
    top: 30px;
}
.item-footer img{width: 60px !important;height: 60px !important; border-radius: 50%;border: 4px solid #fff;box-shadow: 4px 4px 10px 2px rgba(158,158,158,1);}
.item-footer h4{font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;}

 .item-box-blog-heading{
     position: relative;
    }
 .item-box-blog-heading i{
    position: absolute;
    font-size: 30px;
    left: 52px;
    top: 14px;
    color: #62697C;
}
.item-box-blog-heading img{width:90px !important;}
.item-box-blog-heading h3{font-size: 16px;margin-bottom: -2px;} */

        .bg-slider{background-color: #F0F1F3;padding-top: 45px;}
        .owl-carousel .owl-stage-outer{height: 450px;}
 .owl-dots{display: none;}  
 
 .item-footer button{
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: bold;
    margin: 0;
    color: #fff;
    font-size: 14px;

}

.btn-apply{
    outline: none;
    border: 0 !important;
    background: transparent linear-gradient(239deg, #24FFDD 0%, #4E92F6 62%, #1E4688 100%) 0% 0% no-repeat !important;
    color: #fff!important;
    min-width: 150px;
    border-radius: 20px;
}

.career-logo-hk{
    font-size: 55px;position: relative;top: -20px;
}

.fs-55{
  font-size: 55px;
}

.fs-22{
    font-size: 25px;
  }

  .bg-transparent.active{
      background: #fff !important;
      color: #007bff !important;
  }