@font-face {
    font-family: 'hk-font';
    src:
      url('../fonts/hk-font.ttf?f4u0t1') format('truetype'),
      url('../fonts/hk-font.woff?f4u0t1') format('woff'),
      url('../fonts/hk-font.svg?f4u0t1#hk-font') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="hkicon-"], [class*=" hkicon-"] {
    font-family: 'hk-font' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .hkicon-mob-arrow:before {
    content: "\e914";
  }
  .hkicon-arrowservices:before {
    content: "\e913";
  }
  .hkicon-hklogo:before {
    content: "\e912";
  }
  .hkicon-implementation:before {
    content: "\e90d";
  }
  .hkicon-interface:before {
    content: "\e90e";
  }
  .hkicon-payment-processing:before {
    content: "\e90f";
  }
  .hkicon-support:before {
    content: "\e910";
  }
  .hkicon-training:before {
    content: "\e911";
  }
  .hkicon-Booking-engine:before {
    content: "\e900";
  }
  .hkicon-crs:before {
    content: "\e901";
  }
  .hkicon-Frontdesk:before {
    content: "\e902";
  }
  .hkicon-housekeeping:before {
    content: "\e903";
  }
  .hkicon-how-it-works:before {
    content: "\e904";
  }
  .hkicon-Event-management:before {
    content: "\e90b";
  }
  .hkicon-Inventory-management:before {
    content: "\e905";
  }
  .hkicon-Manager-app:before {
    content: "\e906";
  }
  .hkicon-pos:before {
    content: "\e907";
  }
  .hkicon-Property-admin:before {
    content: "\e908";
  }
  .hkicon-revenue:before {
    content: "\e909";
  }
  .hkicon-Timekeeping:before {
    content: "\e90a";
  }
  .hkicon-rate-calendar:before {
    content: "\e90c";
  }